@media only screen and (max-width: 480px) {
  // Docs nav sidebar
  .docs-nav-sidebar {
    .top-search-bar {
      padding: 1.25rem;
      border-bottom: 1px solid ;//$gray-300;
      margin-top: 2.875rem;
    }
    .navbar-toggler {
      background-color: white;// $white;
    }
    width: 100%;
    position: relative;
    right: 0rem;
  }

  // Docs wrapper

  .docs-wrapper {
    margin-left: 0rem;
  }
  .docs-main-wrapper {
    .main-content {
      margin-left: 0rem;
      width: auto;
    }
  }
  .docs-content {
    margin: 1rem;
  }
}