<div class="border-bottom pb-lg-4 pb-3">
    <nav class="navbar navbar-expand-lg navbar-light navbar-default pt-0 pb-0">
        <div class="container px-0 px-md-3">
            <div class="offcanvas offcanvas-start p-4 p-lg-0">
                <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none"> <a
                       routerLink="/"><img src="/assets/images/logo/freshcart-logo.svg"
                             alt="eCommerce HTML Template"></a> <button type="button"
                            class="btn-close"
                            aria-label="Close"></button> </div>
                <div class="d-block">
                    <ul class="navbar-nav">
                        <li *ngFor="let category of categoryList$ | async"
                            class="nav-item">
                            <a class="nav-link"
                               [routerLink]="'/categories/'+category.id"
                               role="button">{{category.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<ng-container *ngIf="storeDetails$ | async as store">
    <section class="my-lg-14 my-8">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
                    <div class="d-flex flex-column">
                        <div>
                            <img src="../assets/images/stores-logo/stores-logo-1.svg"
                                 alt=""
                                 class="rounded-circle icon-shape icon-xxl">
                        </div>
                        <div class="mt-4">
                            <h1 class="mb-1 h4">{{store.name}}</h1>
                            <div class="small text-muted">
                                <span>It is only {{store.distanceInKilometers}} away from you!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9 col-md-8">
                    <div class="mb-8 bg-light d-lg-flex justify-content-lg-between rounded">
                        <div class="align-self-center p-8">
                            <div class="mb-3">
                                <h5 class="mb-0 fw-bold">{{store.name}}</h5>
                                <p class="mb-0 text-muted">
                                    Whatever the occasion, we've got you covered.
                                </p>
                            </div>
                            <div class="position-relative">
                                <input type="email"
                                       class="form-control"
                                       id="exampleFormControlInput1"
                                       placeholder="Search {{store.name}}">
                                <span class="position-absolute end-0 top-0 mt-2 me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="14"
                                         height="14"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="2"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-search">
                                        <circle cx="11"
                                                cy="11"
                                                r="8"></circle>
                                        <line x1="21"
                                              y1="21"
                                              x2="16.65"
                                              y2="16.65"></line>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="py-4">
                            <!-- img -->
                            <img src="../assets/images/svg-graphics/store-graphics.svg"
                                 alt=""
                                 class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="mb-lg-14 mb-8">
        <div class="container"
             *ngIf="storeDetails$ | async as store">
            <div class="row">
                <div clas="col-12">
                    <div class="mb-6 d-xl-flex justify-content-between align-items-center">
                        <!-- heading -->
                        <div class="mb-5 mb-xl-0">
                            <h3 class=" mb-0">{{store.name}} products:</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-6 row-cols-md-6 row-cols-lg-6 row-cols-xxl-6 g-6">
                <div class="card card-product"
                     *ngFor="let product of storeProducts$ | async">
                    <div class="card-body">
                        <div class="text-center position-relative">
                            <a>
                                <img [src]="product.imageUrl"
                                     [alt]="product.name"
                                     class="mb-3 img-fluid">
                            </a>
                            <h2 class="fs-6">{{product.name}}</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</ng-container>